In [12]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn.metrics.pairwise import pairwise_distances

In [2]:
os.chdir(r'C:/Users/cgupta/Desktop/work')
os.getcwd()

'C:\\Users\\cgupta\\Desktop\\work'

In [7]:
retail_new_clean_cluster1=pd.read_csv('retail_new_clean_cluster1.csv')

In [9]:
retail_new_clean_cluster1.head()

,InvoiceNo,StockCode,Description,UnitPrice,CountInvoices,logCountInvoices,logUnitPrice,Cluster_index
0,536367,84879,assortedcolourbirdornament,1.69,1455,3.162863,0.227887,1
1,536392,84879,assortedcolourbirdornament,1.69,1455,3.162863,0.227887,1
2,536395,84879,assortedcolourbirdornament,1.69,1455,3.162863,0.227887,1
3,536408,84879,assortedcolourbirdornament,1.69,1455,3.162863,0.227887,1
4,536460,84879,assortedcolourbirdornament,1.69,1455,3.162863,0.227887,1

In [13]:
Invoice_vs_Description_matrix_cluster1=(retail_new_clean_cluster1.groupby(['Description'])
                                            .apply(lambda x: {y:1 for y in x['InvoiceNo']})
                                        .apply(pd.Series)
                                        .fillna(0)
                                        .reset_index())
Invoice_vs_Description_matrix_cluster1=Invoice_vs_Description_matrix_cluster1.set_index('Description')

In [14]:
Invoice_vs_Description_matrix_cluster1.head()

,536367,536368,536369,536370,536378,536380,536381,536382,536384,536385,...,581572,581574,581578,581579,581580,581581,581582,581585,581586,581587
Description,,,,,,,,,,,,,,,,,,,,,
10colourspaceboypen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12colouredpartyballoons,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12ivoryrosepegplacesettings,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12messagecardswithenvelopes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
12pencilsmalltubewoodland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
Description_vs_Invoice_matrix_cluster1=(retail_new_clean_cluster1.groupby(['InvoiceNo'])
                                            .apply(lambda x: {y:1 for y in x['Description']})
                                        .apply(pd.Series)
                                        .fillna(0)
                                        .reset_index())
Description_vs_Invoice_matrix_cluster1=Description_vs_Invoice_matrix_cluster1.set_index('InvoiceNo')

In [16]:
Description_vs_Invoice_matrix_cluster1.head()

,assortedcolourbirdornament,poppy'splayhousebedroom,poppy'splayhousekitchen,feltcraftprincesscharlottedoll,boxof6assortedcolourteaspoons,homebuildingblockword,lovebuildingblockword,doormatnewengland,jammakingsetwithjars,bluecoatrackparisfashion,...,tradtionalalphabetstampset,vintagedoilyjumbobagred,lunchbagpaisleypark,jumbobagpaisleypark,strawberryceramictrinketpot,classicchromebicyclebell,lunchbagredvintagedoily,doilythankyoucard,bicyclepuncturerepairkit,classicbicycleclips
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536367,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536369,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536370,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536378,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
user_user_jac_sim = 1-pairwise_distances(Invoice_vs_Description_matrix_cluster1.T, metric = "jaccard")
user_user_jac_sim = pd.DataFrame(user_user_jac_sim, index=Invoice_vs_Description_matrix_cluster1.columns, columns=Invoice_vs_Description_matrix_cluster1.columns)
user_user_jac_sim.head()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype float64 was converted to bool by check_pairwise_arrays.
  warnings.warn(msg, DataConversionWarning)

,536367,536368,536369,536370,536378,536380,536381,536382,536384,536385,...,581572,581574,581578,581579,581580,581581,581582,581585,581586,581587
536367,1.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.043478,0.0,0.000000
536368,0.0,1.0,0.0,0.0,0.0,0.0,0.00000,0.00,0.0,0.2,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
536369,0.0,0.0,1.0,0.0,0.0,0.0,0.00000,0.00,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
536370,0.0,0.0,0.0,1.0,0.0,0.0,0.02439,0.08,0.0,0.0,...,0.0,0.074074,0.018868,0.0,0.0,0.0,0.0,0.062500,0.0,0.178571
536378,0.0,0.0,0.0,0.0,1.0,0.0,0.00000,0.00,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000

In [ ]:
user_user_cor_sim = 1-pairwise_distances(Invoice_vs_Description_matrix_cluster1.T, metric = "correlation")
user_user_cor_sim = pd.DataFrame(user_user_cor_sim, index=Invoice_vs_Description_matrix_cluster1.columns, columns=Invoice_vs_Description_matrix_cluster1.columns)
user_user_cor_sim.head()

In [ ]:
user_user_euc_sim = 1-pairwise_distances(Invoice_vs_Description_matrix_cluster1.T, metric = "euclidean")
user_user_euc_sim = pd.DataFrame(user_user_jac_sim, index=Invoice_vs_Description_matrix_cluster1.columns, columns=Invoice_vs_Description_matrix_cluster1.columns)
user_user_euc_sim.head()

In [ ]:
item_item_corr_sim = 1-pairwise_distances(Description_vs_Invoice_matrix_cluster1.T, metric = "correlation")
item_item_corr_sim = pd.DataFrame(item_item_corr_sim, index=Description_vs_Invoice_matrix_cluster1.columns, columns=Description_vs_Invoice_matrix_cluster1.columns)
item_item_corr_sim.head()

In [ ]:
item_item_jac_sim = 1-pairwise_distances(Description_vs_Invoice_matrix_cluster1.T, metric = "jaccard")
item_item_jac_sim = pd.DataFrame(item_item_jac_sim, index=Description_vs_Invoice_matrix_cluster1.columns, columns=Description_vs_Invoice_matrix_cluster1.columns)
item_item_jac_sim.head()

In [ ]:
item_item_euc_sim = 1-pairwise_distances(Description_vs_Invoice_matrix_cluster1.T, metric = "euclidean")
item_item_euc_sim = pd.DataFrame(item_item_euc_sim, index=Description_vs_Invoice_matrix_cluster1.columns, columns=Description_vs_Invoice_matrix_cluster1.columns)
item_item_euc_sim.head()